:root {
    --boxColor: lightblue;
    --backgroundColor: white;
    --activeColor: lightgray;
    --dropDownTextColor: red;
}

.drop-down-container-BDD {
    border: solid var(--boxColor) 2px;
    position: relative;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    font-size: 16px;
}

.list-item-box-BDD {
    transition: 0.4s;
    padding: 1%;
    margin: auto;
}

.list-item-box-BDD:hover {
    background-color: var(--boxColor);
    transition: 0.2s;
    cursor: pointer;
}

.list-item-text-BDD {
    color: var(--dropDownTextColor);
    text-align: left;
    margin: auto;
}

#active-selection-BDD {
    background-color: inherit;
    width: 98%;
    text-align: left;
    padding: 1%;
    border: none;
    margin: auto;
    background-color: transparent;
}

#active-selection-BDD:hover {
    cursor: pointer;
    background-color: var(--boxColor);
    transition: 0.4s;
}

#active-BDD {
    background-color: var(--activeColor);
    transition: 0.4s;
}

#active-BDD:hover {
    background-color: var(--boxColor);
    transition: 0.4s;
}

#dropdown-button-BDD {
    width: 100%;
    background-color: var(--backgroundColor);
    text-align: center;
    border: none;
    top: -10%;
    background-color: transparent;
}

#dropdown-button-BDD:hover {
    cursor: pointer;
}